<template>
    <v-layout justify-center>
        <v-dialog v-model="open" dark persistent max-width="1080">
            <v-card>
                <v-card-title class="headline">Create a new content</v-card-title>
                <v-card-text>
                    <content-form :content="data"
                                  :handleChange="handleChange"
                                  isAddMode />
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <base-button @click="onCreate()" type="primary" fill>Create</base-button>
                    <base-button @click="onCancel()" type="default" fill>Cancel</base-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>
<script>
    import { ContentForm } from "business-project-library-vue/components";
    import Content from '@/models/content'

    export default {
        data: () => ({
            data: null,
        }),
        components: {
            ContentForm,
        },
        props: {
            content: {
                type: Object,
                default: Content(),
            },
            open: {
                type: Boolean,
                default: false
            },
            onCancel: {
                type: Function,
                default: () => this.$router.push({ path: `/contents` }),
            },
            onCreate: {
                type: Function,
                default: () => console.log('onCreate')
            },
            handleChange: {
                type: Function,
                default: () => console.log('handleChange')
            },
        },
        mounted() {
            this.init();
        },
        methods: {
            init() {
                this.data = this.content;
            },
        }
    }
</script>

<style scoped>

</style>
