<template>
    <div>
        <EntitiesList
                :mode="mode"
                :title="title"
                :basePath="basePath"
                :columns="columns"
                :filters="filters"
                :filterActive="filterActive"
                :dataTable="allList"
                :pagination="pagination"
                :queryPagination="queryPagination"
                :getAllForTable="getAllForTable"
                :clearAll="clearAll"
                :onDelete="onDelete"
                :onUpdate="onUpdate"
                :handleChange="handleChangeForUpdate"
                :onCreate="() => openCreateDialog = true"
        />
        <contents-create-dialog
                :open="openCreateDialog"
                :content="contentCreate"
                :handleChange="handleChangeForCreate"
                :onCancel="() => openCreateDialog = false"
                :onCreate="onAdd"/>
    </div>
</template>

<script>
    import { mapActions, mapGetters, mapState } from "vuex";
    import { COLUMNS_LIST, FILTERS } from '@/constants/content';
    import { EntitiesList } from "business-project-library-vue/components";
    import ContentsCreateDialog from "@/pages/Contents/ContentCreateDialog";
    import Content from '@/models/content';

    export default {
        components: {
            EntitiesList,
            ContentsCreateDialog,
        },
        data: () => ({
            mode: 'expandable',
            title: 'Contents list',
            basePath: '/contents',
            columns: COLUMNS_LIST,
            filters: FILTERS,
            openCreateDialog: false,
            contentCreate: Content(),
            contentUpdate: Content(),
        }),
        computed: {
            ...mapState({
                filterActive: state => state.content.filter.active,
                isDeleted: state => state.content.notifications.deleted,
                isAdded: state => state.content.notifications.added,
                isUpdated: state => state.content.notifications.updated,
            }),
            ...mapGetters({
                allList: 'content/itemsTable',
                pagination: 'content/paginationTable',
                queryPagination: 'content/queryPagination',
            }),
        },
        methods: {
            ...mapActions({
                getAllForTable: 'content/getAllForTable',
                clearAll: 'content/clearAll',
                deleteById: "content/deleteById",
                add: "content/add",
                update: "content/update",
            }),
            handleChangeForCreate(event) {
                const { name, value } = event.target;
                this.contentCreate[name] = value
            },
            handleChangeForUpdate(event, id) {
                this.contentUpdate = this.allList && this.allList.length > 0 && this.allList.find(c => c._id === id);
                if(this.contentUpdate) {
                    const { name, value } = event.target;
                    this.contentUpdate[name] = value
                }
            },
            async onDelete({ _id, name }) {
                await this.deleteById(_id);
                if(this.isDeleted) {
                    await this.$notify({
                        type: 'success',
                        message: `${name} deleted`
                    });
                    this.getAllForTable();
                } else {
                    this.$notify({
                        type: 'danger',
                        message: `${name} failure for deleting`
                    });
                }
            },
            async onAdd() {
                await this.add(this.contentCreate);
                if(this.isAdded) {
                    await this.$notify({
                        type: 'success',
                        message: `${this.contentCreate.name} added`
                    });
                    this.openCreateDialog = false;
                    this.getAllForTable();
                } else {
                    this.$notify({
                        type: 'danger',
                        message: `${this.contentCreate.name} failure for adding`
                    });
                }
            },
            async onUpdate() {
                await this.update(this.contentUpdate);
                if(this.isUpdated) {
                    await this.$notify({
                        type: 'success',
                        message: `${this.contentUpdate.name} updated`
                    });
                    this.getAllForTable();
                } else {
                    this.$notify({
                        type: 'danger',
                        message: `${this.contentUpdate.name} failure for updating`
                    });
                }
            },
        },
    }
</script>

<style scoped>

</style>
