<template>
  <div :class="isLoggedIn() ? 'wrapper' : 'wrapperLogin'">

    <div id="private" v-show="isLoggedIn()">
      <side-bar>
        <template slot="links">
          <sidebar-link to="/dashboard" :name="$t('sidebar.dashboard')" icon="tim-icons icon-chart-pie-36"/>
          <sidebar-link to="/users" :name="$t('sidebar.users')" icon="tim-icons icon-single-02"/>
          <sidebar-link to="/customers" :name="$t('sidebar.customers')" icon="tim-icons icon-single-02"/>
          <sidebar-link to="/contents" :name="$t('sidebar.contents')" icon="tim-icons icon-tv-2"/>
        </template>
      </side-bar>

      <div class="main-panel">
        <top-navbar />
        <dashboard-content @click.native="toggleSidebar" />
        <!--<content-footer/>-->
      </div>
    </div>

    <div id="public" v-show="!isLoggedIn()" class="login">
      <video autoplay muted loop class="video">
        <source src="background.mp4" type="video/mp4">
      </video>

      <login-layout class="card-login"/>
    </div>

  </div>
</template>

<script>
  import TopNavbar from "./TopNavbar.vue";
  import ContentFooter from "./ContentFooter.vue";
  import DashboardContent from "./Content.vue";
  import MobileMenu from "./MobileMenu";
  import LoginLayout from '../LoginLayout';

  export default {
    components: {
        TopNavbar,
        ContentFooter,
        DashboardContent,
        MobileMenu,
        LoginLayout
    },
    methods: {
      toggleSidebar() {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false);
        }
      },
      isLoggedIn() {
        return this.$auth.isLoggedIn() && this.$auth.isLoggedIn();
      },
    }
  };
</script>

<style lang="scss">
  .login {
    margin: auto;
    width: 50vh;
    height: 50vh;
  }

  .card-login {
    overflow: hidden;
    box-shadow: 0px 0px 20px black !important;
    opacity: 0.95;
  }

  .video {
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
  }

  .wrapperLogin {
    padding-top: 25vh;

  }
</style>
