<template>
  <div>

    <custom-bar-chart v-if="contentsByCustomer.isLoaded"
                      :title="'Contents followed by customer'"
                      :subtitle="'Average, min, max'"
                      :labels="contentsByCustomer.labels"
                      :data="contentsByCustomer.data" />

  </div>
</template>
<script>
  import { mapActions, mapGetters } from "vuex";
  import { CustomBarChart } from "business-project-library-vue/components";

  export default {
    components: {
      CustomBarChart,
    },
    data: () => ({
      contentsByCustomer: {
        labels: [],
        data: [],
        isLoaded: false,
      },
    }),
    computed: {
      ...mapGetters({
        getChartDataCustomer: 'customer/stats/getChartData',
      }),
    },
    mounted() {
      this.init();
    },
    methods: {
      ...mapActions({
        getStatsSublistCustomer: 'customer/stats/getStatsSublist',
      }),
      async init() {
        await this.initContentsByCustomerChart();
      },
      async initContentsByCustomerChart() {
        await this.getStatsSublistCustomer('contents');
        const { labels, data } = this.getChartDataCustomer('contents');
        this.contentsByCustomer = {
          labels,
          data,
          isLoaded: labels && labels.length > 0 && data && data.length > 0,
        };
      },
    },
  };
</script>
