<template>
</template>

<script>
    export default {
        data() {
            return {}
        },
        mounted() {
            this.$nextTick(() => {
                this.$auth.setAccessToken();
                this.$auth.setIdToken();
                window.location.href = '/';
            });
        },
    };
</script>
