<template>
    <base-dropdown tag="li"
                   :menu-on-right="!$rtl.isRTL"
                   title-tag="a"
                   class="nav-item"
                   menu-classes="dropdown-navbar">
        <a slot="title" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true">
            <div class="photo">
                <img :src="logged && logged.image ? logged.image : 'img/anime3.png'">
            </div>
            <b class="caret d-none d-lg-block d-xl-block"></b>
            <p class="d-lg-none">
                Log out
            </p>
        </a>
        <li class="nav-link">
            <router-link :to="`/users/${logged && logged._id}`" class="nav-item dropdown-item">Profile</router-link>
        </li>
        <!--<li class="nav-link">
            <a href="#" class="nav-item dropdown-item">Settings</a>
        </li>-->
        <div class="dropdown-divider"></div>
        <li class="nav-link">
            <a href="#" @click="handleLogout()" class="nav-item dropdown-item">Log out</a>
        </li>
    </base-dropdown>
</template>

<script>
    import { mapState } from "vuex";

    export default {
        computed: {
            ...mapState({
                logged: state => state.user.logged,
            }),
        },
        methods: {
            handleLogout() {
                this.$auth.logout();
            },
        }
    }
</script>

<style>
    .photo img {
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
    }
</style>
