<template>
    <div>
        <div class="search-bar input-group" @click="searchModalVisible = true">
            <!-- <input type="text" class="form-control" placeholder="Search...">
            <div class="input-group-addon"><i class="tim-icons icon-zoom-split"></i></div> -->
            <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal">
                <i class="tim-icons icon-zoom-split"></i>
            </button>
            <!-- You can choose types of search input -->
        </div>
        <modal :show.sync="searchModalVisible"
               class="modal-search"
               id="searchModal"
               :centered="false"
               :show-close="true">
            <input slot="header" v-model="searchQuery" type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
        </modal>
    </div>
</template>

<script>
    import { Modal } from "business-project-library-vue/components";

    export default {
        components: {
            Modal
        },
        data() {
            return {
                searchModalVisible: false,
                searchQuery: ''
            };
        },
    }
</script>
