<template>
  <div data-app>
    <v-app>
      <notifications></notifications>
      <router-view :key="$route.fullPath"></router-view>
    </v-app>
  </div>
</template>

<script>
  import { mapActions } from "vuex";

  export default {
    mounted() {
      this.initLogged();
      this.$watch('$route', this.disableRTL, { immediate: true });
      this.$watch('$sidebar.showSidebar', this.toggleNavOpen)
    },
    methods: {
      ...mapActions({
        getLoggedByID: "user/getLoggedByID",
       }),
      disableRTL() {
        if (!this.$rtl.isRTL) {
          this.$rtl.disableRTL();
        }
      },
      toggleNavOpen() {
        let root = document.getElementsByTagName('html')[0];
        root.classList.toggle('nav-open');
      },
      initLogged() {
        const accessToken = this.$auth.getAccessToken();
        if(accessToken && accessToken.userId) {
          this.getLoggedByID(accessToken.userId );
        }
      }
    },
  };
</script>
