<template>
    <EntitiesList
            :title="title"
            :basePath="basePath"
            :columns="columns"
            :filters="filters"
            :filterActive="filterActive"
            :dataTable="dataTable"
            :pagination="pagination"
            :queryPagination="queryPagination"
            :getAllForTable="getAllForTable"
            :clearAll="clearAll"
            :onDelete="onDelete"
    />
</template>

<script>
    import { mapActions, mapGetters, mapState } from "vuex";
    import { EntitiesList } from "business-project-library-vue/components";
    import { commonConstants } from 'business-project-library-vue/constants';

    const { COLUMNS_LIST, FILTERS } = commonConstants;

    export default {
        components: {
            EntitiesList,
        },
        data: () => ({
            title: "Users list",
            basePath: '/users',
            columns: COLUMNS_LIST,
            filters: FILTERS,
        }),
        computed: {
            ...mapState({
                filterActive: state => state.user.filter.active,
                isDeleted: state => state.user.notifications.deleted,
            }),
            ...mapGetters({
                dataTable: 'user/itemsTable',
                pagination: 'user/paginationTable',
                queryPagination: 'user/queryPagination',
            }),
        },
        methods: {
            ...mapActions({
                getAllForTable: 'user/getAllForTable',
                clearAll: 'user/clearAll',
                deleteById: "user/deleteById",
            }),
            async onDelete({ _id, email }) {
                await this.deleteById(_id);
                if(this.isDeleted) {
                    await this.$notify({
                        type: 'success',
                        message: `${email} deleted`
                    });
                    this.getAllForTable();
                } else {
                    this.$notify({
                        type: 'danger',
                        message: `${email} failure for deleting`
                    });
                }
            },
        },
    };
</script>
