<template>
    <div>
        <div class="col-12">
            <rise-loader :loading="!data"></rise-loader>
        </div>
        <div class="row" v-if="data">
            <div class="col-md-8">
                <user-form
                        isEditableMode
                        :user="data"
                        :handleValid="handleValid"
                        :handleChange="handleChange"
                        :handleAddress="handleAddress"
                        :handleRoles="handleRoles"
                        :handleStatus="handleStatus"
                        :isAddMode="$route.params.id === 'add'"  />
            </div>
            <div class="col-md-4">
                <user-card :user="data" :handleImage="handleImage"/>
            </div>
            <div class="col-md-12">
                <card>
                    <div class="row section">
                        <div class="col-md-3">
                            <base-button :disabled="!isValid()"
                                         @click="$route.params.id === 'add' ? onAdd() : onUpdate()"
                                         slot="footer" type="primary"
                                         fill>
                                Save
                            </base-button>
                        </div>
                        <div class="col-md-3">
                            <base-button @click="openDeletingDialog = true"
                                         v-if="$route.params.id !== 'add'"
                                         slot="footer" type="danger" fill>
                                Delete
                            </base-button>
                        </div>
                        <div class="col-md-3">
                            <v-switch color="green"
                                      dark
                                      v-model="data.isAuthorized"
                                      :label="data.isAuthorized ? 'Authorized' : 'Not authorized'"/>
                        </div>
                    </div>
                </card>
            </div>
        </div>
        <confirm-dialog
                :onConfirm="onDelete"
                :onCancel="() => openDeletingDialog = false"
                :message="'Confirm deleting ?'"
                :open="openDeletingDialog" />
    </div>
</template>

<script>
    import RiseLoader from 'vue-spinner/src/RiseLoader';
    import { UserForm, UserCard, ConfirmDialog } from "business-project-library-vue/components";
    import { mapActions, mapState } from "vuex";
    import User from '@/models/user'

    export default {
        data() {
            return {
                valid: {
                    userForm: false,
                },
                data: null,
                openDeletingDialog: false,
            }
        },
        components: {
            UserForm,
            UserCard,
            RiseLoader,
            ConfirmDialog
        },
        computed: {
            ...mapState({
                logged: state => state.user.logged,
                selected: state => state.user.selected,
                isUpdated: state => state.user.notifications.updated,
                isAdded: state => state.user.notifications.added,
                isDeleted: state => state.user.notifications.deleted,
            }),
        },
        async mounted() {
            await this.init();
        },
        methods: {
            ...mapActions({
                update: "user/update",
                add: "user/add",
                getByID: "user/getByID",
                getLoggedByID: "user/getLoggedByID",
                deleteById: "user/deleteById",
                clearSelected: "user/clearSelected",
            }),
            async init() {
                this.clearSelected();
                const urlParam = this.$route.params.id;
                urlParam !== 'add' && await this.getByID(urlParam);
                this.data = User(this.selected);
            },
            async refreshIfUserLogged() {
                if(this.logged && this.data && this.logged._id === this.data._id) {
                    await this.getLoggedByID(this.data && this.data._id)
                }
            },
            async onUpdate() {
                await this.update(this.data);
                if(this.isUpdated) {
                    await this.$notify({
                        type: 'success',
                        message: `${this.data.email} updated`
                    });
                    await this.refreshIfUserLogged();
                    await this.onReload();
                    await this.init();
                } else {
                    this.$notify({
                        type: 'danger',
                        message: `${this.data.email} failure for updating`
                    });
                }
            },
            async onAdd() {
                await this.add(this.data);
                if(this.isAdded) {
                    await this.$notify({
                        type: 'success',
                        message: `${this.data.email} added`
                    });
                    this.$router.push({ path: `/users/${this.selected._id}` });
                } else {
                    this.$notify({
                        type: 'danger',
                        message: `${this.data.email} failure for adding`
                    });
                }
            },
            async onDelete() {
                await this.deleteById(this.selected._id);
                if(this.isDeleted) {
                    await this.$notify({
                        type: 'success',
                        message: `${this.data.email} deleted`
                    });
                    this.clearSelected();
                    this.$router.push({ path: '/users' });
                } else {
                    this.$notify({
                        type: 'danger',
                        message: `${this.data.email} failure for deleting`
                    });
                }
            },
            async onReload() {
                await this.getByID(this.selected._id);
                this.data = User(this.selected);
            },
            handleImage(data) {
                this.data.image = data
            },
            handleChange(event) {
                const { name, value } = event.target;
                this.data[name] = value
            },
            handleAddress(event) {
                const { name, value } = event.target;
                this.data = {
                    ...this.data,
                    address: {
                        ...this.data.address,
                        [name]: value
                    }
                }
            },
            handleValid(form, value) {
                this.valid[form] = value;
            },
            isValid() {
                return Object.values(this.valid).every(f => f === true)
            },
            handleRoles(value) {
                this.data.roles = value
            },
            handleStatus(value) {
                this.data.status = value
            },
        },
    }
</script>
