<template>
    <login :title="title"
           :handleLoginDefault="handleLoginDefault"
           :handleLoginGoogle="handleLoginGoogle"
           :handleLoginGitHub="handleLoginGitHub"/>
</template>

<script>
    import { Login } from "business-project-library-vue/components";
    const { VUE_APP_FULL_NAME } = process.env;

    export default {
        components: {
            Login
        },
        data: () => ({
            title: VUE_APP_FULL_NAME
        }),
        methods: {
            handleLoginDefault(email, password) {
                return this.$auth.loginDefaultCredentials(email, password);
            },
            handleLoginGoogle() {
                this.$auth.loginGoogle();
            },
            handleLoginGitHub() {
                this.$auth.loginGitHub();
            },
        }
    }
</script>
